<ion-view view-title="Mes WODs">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        A venir
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wod in wods" type="item-text-wrap" href="#/tab/wods/{{wod.id}}">
        <img ng-src="{{wod.coatch}}">
        <h2>{{wod.date}}</h2>
        <p>{{wod.horaire}}</p>
        <p>{{wod.libelle}}</p>

        <ion-option-button class="button-assertive" ng-click="remove(wod)">
          Annuler
        </ion-option-button>
      </ion-item>
      <ion-item class="item-divider">
        Passés
      </ion-item>
      <ion-item class="item-avatar item-icon-right" ng-repeat="wod in wods" type="item-text-wrap" href="#/tab/wods/{{wod.id}}">
        <img ng-src="{{wod.coatch}}">
        <h2>{{wod.date}}</h2>
        <p>{{wod.horaire}}</p>
        <p>{{wod.libelle}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
